<html>
    <head>
        <meta charset="UTF-8">
        <meta name="'viewpoint" content=""width=device-width, initail-scale="1.0">
        <title>VForU</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}"/>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo">VForU</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>

                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/aboutus" class="navbar__links">About Us</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/login" class="button">Sign In</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/register" class="button">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--content section-->
        <div class="main">
            <div class="main__container">
                <div class="main__content">
                    <h1> VForU – We are for You. </h1>
                    <p>Are you suffering from Depression? Anxiety? Suicidal thoughts? Don’t worry. We got you. </p>
                </div>
                <div class="main__img--container">
                    <img src="{{ url_for('static',filename='Images/opinion.svg') }}" alt="image" id="main__img"/>
                </div>
            </div>
        </div>

        <!--Services section-->
        <div class="services">
            <h1>What's VForU</h1>
            <div class="services__container">
                <div class="services__card">
                    <p class="text">Everyone goes through something that the world doesn’t see. V for U is available 
                        24*7 to hear your thoughts,pain, and sorrows. Problems with family, relationships, and society have been arising so much in today’s world. We understand that not everyone has a companion/partner to vent out completely.  </p><br></br>
                    <p class="text">V for U is a platform for you to connect with the AI and talk . Our team aims to make everyone feel that they are not alone in their hard times.</p><br></br>
                    <p class="text">All you need to do is  join V for U as a member and start talking with the AI regarding any of the issue that you are suffering with and get the best solution from  V for U</p>
                
                </div>
                <div class="depressionGirl">
                    <img src="{{ url_for('static',filename='Images/what_is.svg') }}" class="image"/>
                </div>
            
            </div>
        </div>

        <div class="services">
            <h1>How to Use the application?</h1>
            <div class="services__container">
                <div class="column">
                    <div class="row">
                      <div class="card">
                        <h3 class="text">Step 1</h3>
                        <p class="text">Create an account with us by going to the Sign Up page.</p>
                      </div>
                    </div>
                    <br></br>
                    <div class="row">
                      <div class="card">
                        <h3 class="text">Step 2</h3>
                        <p class="text">Login with your new credentials.</p>
                      </div>
                    </div>
                    <br></br>
                    <div class="row">
                      <div class="card">
                        <h3 class="text">Step 3</h3>
                        <p class="text">Start chatting  until you feel you are okay</p>
                      </div>
                    </div>
                </div>
            


                <div class="main__img--container">
                    <img src="{{ url_for('static',filename='Images/steps.svg') }}" alt="image" id="main__img"/>
                </div>
            </div>
        </div>


        <script src="app.js"></script>
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="footer-center">
              © 2023 Copyright:
              <a class="text-dark" >VForU.co</a>
            </div>
            <!-- Copyright -->
          </footer>


    </body>
</html>