<html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}"/>
        <meta charset="UTF-8">
        <meta name="'viewpoint" content=""width=device-width, initail-scale="1.0">
        <title>VForU Login</title>
        <style>
            .bg{
                background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({{ url_for('static',filename='Images/login.svg') }});
            }
        </style>

    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo">VForU</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>

                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/aboutus" class="navbar__links">About Us</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/login" class="button">Sign In</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/register" class="button">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="bg">
            <div class="form-box">
                <div class="social-icons">
                    <h3>VForU Login</h3>
                </div>

                <form id="login" class="input-group">
                    <input type="email" class="input-field" id = "email" placeholder="Email" required>
                    <input type="password" class="input-field" id = "password" placeholder="Enter Password" required>
                    <button  class="submit-btn" onclick="sendData()" >Sign In</button>
                    <p id = "placeholder"></p>
                </form>
                
            </div>

        </div>
    </body>

    <script>
        function sendData(){
            event.preventDefault();
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var data = {
                "email": email,
                "password": password
            }
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == "success"){
                    window.location.href = "/conversation";
                }
                else{
                    document.getElementById("placeholder").innerHTML = data.message;
                    document.getElementById("placeholder").style.color = "red";
                }
            })

        }
    </script>

</html>