<html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}"/>
        <meta charset="UTF-8">
        <meta name="'viewpoint" content=""width=device-width, initail-scale="1.0">
        <title>VForU Sign Up</title>
        <style>
            .bg{
                background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({{ url_for('static',filename='Images/login.svg') }});
            }
        </style>

    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo">VForU</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>

                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/about.html" class="navbar__links">About Us</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/login" class="button">Sign In</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/register" class="button">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="bg">
            <div class="form-box">
                <div class="social-icons">
                    <h3>VForU Sign Up</h3>
                </div>
                <form id="register" class="input-group">
                    <input type="text" class="input-field" id ="name" placeholder="Name" required>
                    <input type="email" class="input-field" id="email" placeholder="Email Id" autocomplete="off" required>                    
                    <input type="password" class="input-field" id = "pswd1" value = "" placeholder="Enter Password" autocomplete="off" required>
                    <input type = "password" class="input-field" id = "pswd2" value = "" placeholder="Confirm Password" required>
                    <input type="checkbox" class="check-box" id ="check-box"><span>I agree to the Terms & Conditions</span>
                    <button class="submit-btn" onclick="sendData()">Sign Up</button>
                </form>
            </div>

        </div>
        <script>  

        function sendData(){
            event.preventDefault();
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var pswd1 = document.getElementById("pswd1").value;
            var pswd2 = document.getElementById("pswd2").value;
            var check = document.getElementById("check-box").checked;
            
                var data = {
                    "name": name,
                    "email": email,
                    "password": pswd1,
                    "confirm_password": pswd2,
                    "role": "user",
                    "category": "Free_Tier"
                }
                // use fetch to send data to the server
                fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    if(data.status == "success"){
                        alert("Registered Successfully");
                        window.location.href = "/login";
                    }
                    else{
                        alert(data.message);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
        

        </script> 
        
    </body>
</html>