<html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}"/>
        <meta charset="UTF-8">
        <meta name="'viewpoint" content=""width=device-width, initail-scale="1.0">
        <title>VForU Sign Up</title>
        <style>
        .bg{
            background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({{ url_for('static',filename='Images/login.svg') }});
        }
    </style>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo">VForU</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>

                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/about.html" class="navbar__links">About Us</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/login.html" class="button">Sign In</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/signup.html" class="button">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="bg">
            <div class="form-box">
                <div class="social-icons">
                    <h3>VForU Registration</h3>
                </div>
                <form id="register" class="input-group">
                    <input type="text" class="input-field" placeholder="User Id" required>
                    <input type="email" class="input-field" placeholder="Email Id" required>                    
                    <input type="text" class="input-field" placeholder="Enter Password" required>
                    <label for="role">Role:</label>
                    <select name="role" id="role">

                        <option value="Listener" id="listener">Listener</option>
                        <option value="User" id="user">User</option>
                    </select>

                    <input type="checkbox" class="check-box"><span>I agree to the Terms & Conditions</span>
                    <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>

        </div>
    </body>
</html>